<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties>
        <property name="wxExtend" value="123456"/>
    </properties>




    <!-- 外部属性配置文件 -->
<!--    <properties resource="jdbc.properties" />-->
    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>

    <!-- 为SQL映射配置文件的parameterType和resultType来设置别名。别名默认为首字母小写。 -->
    <typeAliases>
        <package name="com.itiis.client.entity"/>
    </typeAliases>

    <!-- environment 元素体中包含了事务管理和连接池的配置 -->
    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <!-- DBCP数据源 -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/youth_summer?serverTimezone=Asia/Shanghai&amp;useUnicode=true&amp;characterEncoding=utf-8&amp;useSSL=true"/>
                <property name="username" value="${username:root}"/>
                <property name="password" value="${wxExtend}"/>
<!--                <property name="minIdle" value="5"/>-->
<!--                <property name="maxIdle" value="10"/>&lt;!&ndash; maxIdle，最大空闲数 &ndash;&gt;-->
<!--                <property name="maxActive" value="10"/>-->
<!--                <property name="validationQuery" value="SELECT 1"/>-->
            </dataSource>
        </environment>
    </environments>

    <!-- mappers 元素包含一组 mapper 映射器（这些 mapper 的 XML 文件包含了 SQL 代码和映射定义信息） -->
    <mappers>
        <mapper resource="mapper/UserMapper.xml"/>
    </mappers>

</configuration>
